# yaml-language-server: $schema=../.helm-shared/values.schema.json

# shared values for all services

global:
  domain: t01
  location: bl01t
  enabled: true

# shared settings for all IOC types
shared: &shared
  # hostNetwork
  # set to true for Channel Access to work outside of the cluster (or use a gateway)
  hostNetwork: true

  # running as ixxdetector account uid,gid gives access to /dls/ixx/data
  podSecurityContext:
    # runAsUser: 37988
    # runAsGroup: 37988

  securityContext:
    allowPrivilegeEscalation: false

  # affinity chooses which servers to run on
  # Accelerator must set this for CIAs, Beamlines don't need it
  affinity: {}
    # nodeAffinity:
    #   requiredDuringSchedulingIgnoredDuringExecution:
    #     nodeSelectorTerms:
    #       - matchExpressions:
    #           - key: location
    #             operator: In
    #             values:
    #               - sr03c

  # tolerations allow us to run on a tainted server
  # Accelerator must set this for CIAs, Beamlines don't need it
  tolerations: []
    # - key: location
    #   operator: Equal
    #   value: sr03c
    #   effect: NoSchedule

# shared settings for all ibek IOCs using the ioc-instance helm chart
ioc-instance:
  <<: *shared

# shared setting for all legacy IOCs using the dev-c7 helm chart
dev-c7:
  <<: *shared
