# yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  # use a lightweight IOC because epics-base has no ioc.dbd or start.sh
  image: ghcr.io/epics-containers/ioc-asyn-runtime:2025.11.1

  rebootEveryCommit: true

  initContainers:
    - name: clone-synoptic
      image: alpine/git
      command:
        - sh
        - -c
      args:
        - |
          set -xe
          git config --global --add safe.directory /data/synoptic-git
          if ! [ -d /data/synoptic-git ]; then
            git clone $ARGOCD_SOURCE_REPO /data/synoptic-git
          fi
          cd /data/synoptic-git
          git fetch
          git checkout $ARGOCD_COMMIT_HASH
          git submodule update --init
          rm -rf /epics/opi/*
          cp -r /data/synoptic-git/synoptic/* /epics/opi

  # don't use the ioc-instance livenesProbe, preStop which dont exist in fastcs image.
  livenessExecutable: ""
  preStopExecutable: ""
